@tailwind base;
@tailwind components;
@tailwind utilities;


.auth {
  @apply flex items-center justify-center w-full h-screen
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cl-card{
  @apply rounded-[1.5rem] shadow-lg max-w-[300px] md:max-w-[350px] lg:max-w-[400px] !important
}

.cl-internal-vsyzrd{
  @apply hidden !important
}

.cl-internal-b3fm6y{
  @apply hidden
}

.cl-header{
  @apply text-center
}

.cl-logoBox{
  @apply flex justify-center !important
}

.cl-logoImage{
  @apply h-[7.5rem] !important
}

.cl-userButtonPopoverActionButtonText__signOut{
  @apply text-red-500 font-semibold !important
}

.cl-formButtonPrimary{
  @apply bg-blue-700
}
